/* Stylesheet for Mobile App */

/* reset everything */
* {
    margin: 0px;
    padding: 0px;
}

/* Universal Style */
body {
    background-color: slategray;
}

#container {
    background-color: aqua;
    font-size: 1.3rem;
}

ul {
    font-family: 'Merienda', cursive;
}

header {
    text-align: center;
    padding 25px;
    background-color: aliceblue;
}

header h1 {
    color: red;
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
}

nav ul {
    text-align: left;
}

nav ul li {
    display: inline-block;
    padding: 5px 8px;
    list-style: none;
    border-right: 1px solid aqua;
}

nav ul li:last-child {
    border-right: none;
}

.keepopen {
    clear: both;
}

#about {
    float: right;
}