/* Stylesheet for Mobile App */

/* reset everything */
* {
    margin: 0px;
    padding: 0px;
}

/* Universal Style */
body {
    background-color: slategray;
    background-size: cover;
    z-index: 1;
    background-image: url("../img/cool_background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    
}

#container {
    width: 100%;
    background-color: lightskyblue;
    font-size: 1.3rem;
    text-align: center;
}

header {
    background-color: lightblue;
}

ul {
    font-family: 'Merienda', cursive;
}

h2 {
    color: blue;
}

header h1 {
    color: darkblue;
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    
}

#content {
    background-color: transparent;
    z-index: -1;
    position: absolute;
    color: lightgray;
}

div#product_grp {
    max-width: 80%;
    min-width: 20%;
    margin: 35px auto;
}

figure.product {
    float: left;
    margin: 10px;
    min-width: 30%;
    max-width: 50%;
    background-color: aliceblue;
    border-radius: 5%;
}

figure.product img {
    display: block;
    padding: 10px 0;
    width: 80%;
    margin: auto;
}

figure.product figcaption {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 24px;
}

/* Styles for the nav bar */ 
nav {
    position: fixed;
    display: block;
    width: 100%;
    background-color: #9bd6fa;
    color: blue;
    font-size: 1.1rem;
}

nav ul {
    text-align: left;
    list-style: none;
}

nav ul li a{
    float: left;
    display: block;
    padding: 5px 8px;
    list-style: none;
    border-right: 1px solid grey;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: aqua;
    color: black;
}

div .keepOpen {
    clear: both;
}

#about {
    float: right;
    border-left: 1px solid grey;
}

@media screen and (max-width:600px) {
    #container {
        width: 100%;
    }
    
    #about {
        float: none;
        text-align: center;
    }
    
    nav {
        padding-bottom: 40px;
    }
    
    nav ul li a {
        float: none;
        text-align: center;
    }
    
}

#about_button {
    padding: 10px;
    background: lightblue;
}

/* Styles for the icon bar at the bottom */
.icon-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: yellowgreen;
}
/*
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: aquamarine;
}
*/